<form *ngIf="this.contacto" [formGroup]="form" (ngSubmit)="guardarCambios()" class="animate__animated animate__fadeIn">
  <div class="row">
    <div class="col">
      <label>Nombre</label>
      <input
        class="form-control"
        type="text"
        placeholder="Nombre"
        formControlName="nombre"
      />
    </div>
    <div class="col">
      <label>Email</label>
      <input
        class="form-control"
        type="email"
        placeholder="Correo electrónico"
        formControlName="correo"
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label>Celular</label>
      <input
        class="form-control"
        type="text"
        placeholder="Celular"
        formControlName="celular"
      />
    </div>
    <div class="col">
      <label>Telefono</label>
      <input
        class="form-control"
        type="text"
        placeholder="Telefono"
        formControlName="telefono"
      />
    </div>
  </div>
  <div class="container">
    <label>Institucion</label>
    <input
          class="form-control"
          type="text"
          placeholder="Institucion"
          formControlName="institucion"
        />

  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-danger w-100" type="button" routerLink="/admin/contactos">
        Volver
      </button>
    </div>
    <div class="col">
      <button class="btn btn-primary w-100" type="submit">
        Guardar
      </button>
    </div>
  </div>
</form>
