
<div class="container-fluid animate__animated animate__fadeIn" *ngIf="efector">
  <div class="row">
    <div class="col bg-info font-weight-bold">Nombre</div>
    <div class="col-10 bg-info">{{efector.nombre}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Direccion</div>
    <div class="col-10 bg-info">{{efector.direccion}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Telefono</div>
    <div class="col-10 bg-info">{{efector.telefono}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Celular</div>
    <div class="col-10 bg-info">{{efector.celular}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Email</div>
    <div class="col-10 bg-info">{{efector.Correo}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Contacto</div>
    <div class="col-10 bg-info">{{efector.contacto}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Distrito</div>
    <div class="col-10 bg-info">{{efector.distrito}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Observacion</div>
    <div class="col-10 bg-info">{{efector.observacion}}</div>
  </div>
  <button class="btn btn-danger w-100" routerLink="/admin/efectores">Volver</button>
</div>
