
<div class="container-fluid animate__animated animate__fadeIn" *ngIf="institucion">
  <div class="row">
    <div class="col bg-info font-weight-bold">Denominacion</div>
    <div class="col-10 bg-info">{{institucion.denominacion}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Direccion</div>
    <div class="col-10 bg-info">{{institucion.direccion}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Provincia</div>
    <div class="col-10 bg-info">{{institucion.provincia}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Ciudad</div>
    <div class="col-10 bg-info">{{institucion.ciudad}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Codigo Postal</div>
    <div class="col-10 bg-info">{{institucion.codpos}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">CI</div>
    <div class="col-10 bg-info">{{institucion.ci}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Ingresos Brutos</div>
    <div class="col-10 bg-info">{{institucion.ib}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Telefono</div>
    <div class="col-10 bg-info">{{institucion.telefono}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Celular</div>
    <div class="col-10 bg-info">{{institucion.celular}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Email</div>
    <div class="col-10 bg-info">{{institucion.Correo}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Contacto</div>
    <div class="col-10 bg-info">{{institucion.contacto}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Celular del contacto</div>
    <div class="col-10 bg-info">{{institucion.contactocel}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Web</div>
    <div class="col-10 bg-info">{{institucion.web}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Otros</div>
    <div class="col-10 bg-info">{{institucion.otros}}</div>
  </div>
  <button class="btn btn-danger w-100" routerLink="/admin/instituciones">Volver</button>
</div>
