<form *ngIf="this.efector" [formGroup]="form" (ngSubmit)="guardarCambios()" class="animate__animated animate__fadeIn">
  <div class="row">
    <div class="col">
      <label>Nombre</label>
      <input
        class="form-control"
        type="text"
        placeholder="Nombre"
        formControlName="nombre"
      />
    </div>
    <div class="col">
      <label>Email</label>
      <input
        class="form-control"
        type="email"
        placeholder="Correo electrónico"
        formControlName="email"
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label>Telefono</label>
      <input
        class="form-control"
        type="text"
        placeholder="Telefono"
        formControlName="telefono"
      />
    </div>
    <div class="col">
      <label>Celular</label>
      <input
        class="form-control"
        type="text"
        placeholder="Celular"
        formControlName="celular"
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label>Direccion</label>
      <input
        class="form-control"
        type="text"
        placeholder="direccion"
        formControlName="direccion"
      />
    </div>
    <div class="col">
      <label>Distrito</label>
      <input
        class="form-control"
        type="text"
        placeholder="distrito"
        formControlName="distrito"
      />
    </div>
  </div>
  <div class="container-fluid">
    <label>Observacion</label>
    <input
        class="form-control obs"
        type="text"
        placeholder="observacion"
        formControlName="observacion"
      />
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-danger w-100" type="button" routerLink="/admin/efectores">
        Volver
      </button>
    </div>
    <div class="col">
      <button class="btn btn-primary w-100" type="submit">
        Guardar
      </button>
    </div>
  </div>
</form>
