<form *ngIf="this.usuario" [formGroup]="form" (ngSubmit)="guardarCambios()" class="animate__animated animate__fadeIn">
  <div class="row">
    <div class="col">
      <input
        class="form-control"
        type="text"
        placeholder="Nombre"
        formControlName="nombre"
      />
    </div>
    <div class="col">
      <input
        class="form-control"
        type="email"
        placeholder="Correo electrónico"
        formControlName="email"
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <select class="form-control" formControlName="role">
        <option value="ADMIN_ROLE">ADMIN_ROLE</option>
        <option selected value="USER_ROLE">USER_ROLE</option>
        >
      </select>
    </div>
    <div class="col">
      <input
        class="form-control"
        type="password"
        placeholder="Contraseña"
        formControlName="password"
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-danger w-100" type="button" routerLink="/admin/usuarios">
        Volver
      </button>
    </div>
    <div class="col">
      <button class="btn btn-primary w-100" type="submit">
        Guardar
      </button>
    </div>
  </div>
</form>
