
<div class="container-fluid animate__animated animate__fadeIn" *ngIf="proveedor">
  <div class="row">
    <div class="col bg-info font-weight-bold">Denominacion</div>
    <div class="col-9 bg-info">{{proveedor.denominacion}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Email</div>
    <div class="col-9 bg-info">{{proveedor.correo}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Telefono</div>
    <div class="col-9 bg-info">{{proveedor.telefono}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Celular</div>
    <div class="col-9 bg-info">{{proveedor.celular}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Provincia</div>
    <div class="col-9 bg-info">{{proveedor.provincia}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Ciudad</div>
    <div class="col-9 bg-info">{{proveedor.ciudad}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Direccion</div>
    <div class="col-9 bg-info">{{proveedor.direccion}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Codigo Postal</div>
    <div class="col-9 bg-info">{{proveedor.cp}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">CUIT</div>
    <div class="col-9 bg-info">{{proveedor.cuit}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Actividad</div>
    <div class="col-9 bg-info">{{proveedor.actividad}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">CI</div>
    <div class="col-9 bg-info">{{proveedor.ci}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Contacto</div>
    <div class="col-9 bg-info">{{proveedor.contacto}}</div>
  </div>
  <button class="btn btn-danger w-100" routerLink="/admin/proveedores">Volver</button>
</div>
