<form [formGroup]="form" (ngSubmit)="guardarCambios()" class="animate__animated animate__fadeIn">
  <div class="container">
    <div class="row">
      <div *ngFor="let form of formsQuestions" class="col-6">
        <label> {{form.label}} </label>
        <input
          [class]="form.class"
          [type]="form.text"
          [placeholder]="form.label"
          [formControlName]="form.formControlName"/>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <h2>Horarios</h2>
    <div class="row">
      <div class="col" *ngFor="let a of formActividad">
        <h4>{{a.dia}}</h4>
        <label>{{a.actividad.label}}</label>
        <input [class]="a.actividad.class" [type]="a.actividad.text" [placeholder]="a.actividad.label" [formControlName]="a.actividad.formControlName">
        <div class="row">
          <div class="col">
            <label>Desde</label>
            <select [class]="a.inicio.class" [formControlName]="a.inicio.formControlName">
              <option value="" disabled>Hora</option>
              <option *ngFor="let h of hora" [value]="h"> {{h}} </option>
            </select>
          </div>
          <div class="col">
            <label>Hasta</label>
            <select [class]="a.final.class" [formControlName]="a.final.formControlName">
              <option value="" disabled>Hora</option>
              <option *ngFor="let h of hora" [value]="h"> {{h}} </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <button class="btn btn-danger w-100" type="button" routerLink="/admin/profesionales">
          Volver
        </button>
      </div>
      <div class="col">
        <button class="btn btn-primary w-100" type="submit">
          Guardar
        </button>
      </div>
    </div>
</div>
</form>
