
<div class="container-fluid animate__animated animate__fadeIn" *ngIf="concurrente">
  <div class="row">
    <div class="col bg-info font-weight-bold">Nombre</div>
    <div class="col-10 bg-info">{{concurrente.nombre}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">DNI</div>
    <div class="col-10 bg-info">{{concurrente.dni}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Fecha de nacimiento</div>
    <div class="col-10 bg-info">{{concurrente.fechadenacimiento}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Sexo</div>
    <div class="col-10 bg-info">{{concurrente.sexo}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Direccion</div>
    <div class="col-10 bg-info">{{concurrente.direccion}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Barrio</div>
    <div class="col-10 bg-info">{{concurrente.barrio}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Localidad</div>
    <div class="col-10 bg-info">{{concurrente.localidad}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Provincia</div>
    <div class="col-10 bg-info">{{concurrente.provincia}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Estado Civil</div>
    <div class="col-10 bg-info">{{concurrente.estadocivil}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Telefono</div>
    <div class="col-10 bg-info">{{concurrente.telefono}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Celular</div>
    <div class="col-10 bg-info">{{concurrente.celular}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Email</div>
    <div class="col-10 bg-info">{{concurrente.correo}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">CUIL</div>
    <div class="col-10 bg-info">{{concurrente.cuil}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Cobertura</div>
    <div class="col-10 bg-info">{{concurrente.cobertura}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Nro Benef</div>
    <div class="col-10 bg-info">{{concurrente.numerobenef}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Alta</div>
    <div class="col-10 bg-info">{{concurrente.alta}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Baja</div>
    <div class="col-10 bg-info">{{concurrente.baja}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">CUD</div>
    <div class="col-10 bg-info">{{concurrente.cud}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Vencimiento</div>
    <div class="col-10 bg-info">{{concurrente.vencimiento}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Jornada</div>
    <div class="col-10 bg-info">{{concurrente.jornada}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Equipo Referencia</div>
    <div class="col-10 bg-info">{{concurrente.equiporeferencia}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Diagnostico</div>
    <div class="col-10 bg-info">{{concurrente.diagnostico}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Tratamiento</div>
    <div class="col-10 bg-info">{{concurrente.tratamiento}}</div>
  </div>
  <div class="container-fluid">
    <h3>Responsable</h3>
    <div class="row">
      <div class="col bg-success font-weight-bold">Nombre</div>
      <div class="col-10 bg-success">{{concurrente.responsable.nombrefamiliar}}</div>
    </div>
    <div class="row">
      <div class="col bg-success font-weight-bold">Vinculo</div>
      <div class="col-10 bg-success">{{concurrente.responsable.vinculofamiliar}}</div>
    </div>
    <div class="row">
      <div class="col bg-success font-weight-bold">Dni</div>
      <div class="col-10 bg-success">{{concurrente.responsable.dnifamiliar}}</div>
    </div>
    <div class="row">
      <div class="col bg-success font-weight-bold">Responsable</div>
      <div class="col-10 bg-success">{{concurrente.responsable.responsablefamiliar}}</div>
    </div>
    <div class="row">
      <div class="col bg-success font-weight-bold">Fecha de nacimiento</div>
      <div class="col-10 bg-success">{{concurrente.responsable.fechanacimientofamiliar}}</div>
    </div>
    <div class="row">
      <div class="col bg-success font-weight-bold">Estado Civil</div>
      <div class="col-10 bg-success">{{concurrente.responsable.estadocivilfamiliar}}</div>
    </div>
    <div class="row">
      <div class="col bg-success font-weight-bold">Telefono</div>
      <div class="col-10 bg-success">{{concurrente.responsable.telefonofamiliar}}</div>
    </div>
    <div class="row">
      <div class="col bg-success font-weight-bold">Celular</div>
      <div class="col-10 bg-success">{{concurrente.responsable.celularfamiliar}}</div>
    </div>
    <div class="row">
      <div class="col bg-success font-weight-bold">Email</div>
      <div class="col-10 bg-success">{{concurrente.responsable.correofamiliar}}</div>
    </div>
    <div class="row">
      <div class="col bg-success font-weight-bold">Ocupacion</div>
      <div class="col-10 bg-success">{{concurrente.responsable.ocupacionfamiliar}}</div>
    </div>
    <div class="row">
      <div class="col bg-success font-weight-bold">Conviviente</div>
      <div class="col-10 bg-success">{{concurrente.responsable.convivientefamiliar}}</div>
    </div>

  </div>
  <button class="btn btn-danger w-100" routerLink="/admin/concurrentes">Volver</button>
</div>
