
<div class="container-fluid animate__animated animate__fadeIn" *ngIf="obrasocial">
  <div class="row">
    <div class="col bg-info font-weight-bold">Nombre</div>
    <div class="col-10 bg-info">{{obrasocial.nombre}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Email</div>
    <div class="col-10 bg-info">{{obrasocial.correo}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Telefono</div>
    <div class="col-10 bg-info">{{obrasocial.telefono}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Celular</div>
    <div class="col-10 bg-info">{{obrasocial.celular}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Provincia</div>
    <div class="col-10 bg-info">{{obrasocial.provincia}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Ciudad</div>
    <div class="col-10 bg-info">{{obrasocial.ciudad}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Codigo Postal</div>
    <div class="col-10 bg-info">{{obrasocial.codpos}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Direccion</div>
    <div class="col-10 bg-info">{{obrasocial.direccion}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Cuit</div>
    <div class="col-10 bg-info">{{obrasocial.cuit}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Contacto</div>
    <div class="col-10 bg-info">{{obrasocial.contacto}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Ci</div>
    <div class="col-10 bg-info">{{obrasocial.ci}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Ingresos Brutos</div>
    <div class="col-10 bg-info">{{obrasocial.ib}}</div>
  </div>
  <div class="row">
    <div class="col bg-info font-weight-bold">Otros</div>
    <div class="col-10 bg-info">{{obrasocial.otros}}</div>
  </div>
  <button class="btn btn-danger w-100" routerLink="/admin/obras-sociales">Volver</button>
</div>
